{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
{{!-- <div class="col-md-12">
    <div class="col-md-3">
        <button type="button" class="btn btn-success" onclick="location.href =' /add-marks'" id="btnAddMarks">Add Marks</button>
   
        <button type="button" class="btn btn-success" onclick="location.href =' /search-marks'" id="btnSearchMarks">Search Marks</button>
    </div>
    
</div> --}}


